@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    @ViewData["message"]
</p>

<p>
    @Html.ActionLink("Add Product", "Create", "Product")
</p>

<ol>
    @foreach (string name in (IEnumerable<string>)ViewData["nameslist"])
    {
        <li>
            @name
        </li>

    }

</ol>
@if (ViewData["emplist"] != null)
{
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
    <tr>
        @foreach (Employee emp in (IEnumerable<Employee>)ViewData["emplist"])
        {
            <th>@emp.Id</th>
            <th>@emp.Name</th>
            <th>@emp.Department</th>
            <th>@emp.Salary</th>
        };

    </tr>

</table>
}

